<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Links: API's, CSS, and FontAwesome -->
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Laila" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/admin-pastReviews.css">
    <link rel="stylesheet" href="style/AdminSettings.css">
    <link rel="stylesheet" href="style/user-recommendations.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>My Recommendations</title>
</head>

<body ng-app="agencyApp">
    
    <!-- NAVBAR -->
    <nav id="mainNavbar" class="navbar navbar-expand-md navbar-light fixed-top" ng-controller="UsersController"
        data-ng-init="showName()">
        <a class="navbar-brand title" href="./home.html" style="color: #9C28FF">Bochitto Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100">
                <li class="icon nav-item active">
                    <a class="nav-link " href="./specials-home.html">Specials<span class="sr-only">(current)</span></a>
                </li>
                <li class="icon nav-item active">
                    <a class="nav-link" href="./pastreview-home.html">Past Reviews<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="icon nav-item active">
                    <a class="nav-link" href="#aboutUsContainer">About Us<span class="sr-only">(current)</span></a>
                </li>
                <li class="icon nav-item active">
                    <a class="nav-link" href="./user-recommendations.html">MyRecommendations<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="color:black!important;">
                    Welcome, {{ sessionUsername }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./user-settings.html">Profile</a>
                    <a class="dropdown-item" href="./user-recommendations.html">MyRecommendations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./index.html">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    
    <br>
    <!-- page -->
    <div class="container my-5" id="profile">
        <h1 class="titleFont text-center">Admin Settings</h1>
        <hr class="settings-hr">
        <div class="row">
            
            <!--Side Nav table -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="./admin-recommendations.html" class="list-group-item list-group-item-action">
                        <i class="far fa-lightbulb"></i> &nbsp;
                        Recommendations
                    </a>
                    <a href="./admin-pastReviews.html" class="list-group-item list-group-item-action active">
                        <i class="fas fa-user-cog"></i> &nbsp;
                        Past Reviews
                    </a>
                    <a href="./admin-SpecialsVendors.html" class="list-group-item list-group-item-action">
                        <i class="fas fa-user-cog"></i> &nbsp;
                        Vendor List/Specials
                    </a>
                </div>
            </div>

            <!-- Past Reviews Manager --> 
            <div class="col-sm-9" ng-controller="BlogPostsController" data-ng-init="getAll()">

                <table class="table table-striped table-hover" id="SpecialTable"  >
                    <thead class="thead-dark">
                        <th colspan="3">Past Reviews</th>
                    </thead>
                    <thead class="">
                            <th>Post</th>
                            <th>Date Created</th>  
                    </thead>
                    <tbody ng-repeat = "blogPost in blogPosts">
                        <tr>
                            <td>{{blogPost.title}}</td>
                            <td>{{blogPost.createdDate | date}}</td>
                            <td>
                                <button type="button" id="VendorButton" class="btn btn-info" data-toggle="modal"
                                data-target="#PastReviewInfoModal" data-whatever="@mdo" ng-click="showDetails($index)">
                                <i class="fas fa-info-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Past Reviews Info Modal -->
                <div class="modal fade" id="PastReviewInfoModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Past Review</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form>
                                <div class="container"> 
                                    <div class="row py-1">
                                        <label class="col-4" ></label>
                                        <p class="col" name="">{{detailedInfo.title}}</p> 
                                    </div>

                                    <div class="row pl-3">
                                        <p>
                                            {{detailedInfo.text}}
                                        </p>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger login mr-auto" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" ng-click="deleteBlogPost(detailedInfo._id)">Delete</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Edit</button>
                        </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Post Blog -->
            <div class="container-fluid py-5" id="Blog" ng-controller="BlogPostsController">   
                <div class="row">
                    <div class="col-sm">                      
                        <div class="card">
                            <div class="card-header bg-dark">
                              <span class="titleofBlog">Past Reviews Post</span>
                            </div>
                            <div class="card-body">
                                <form> 
                                    <div class="row"> 
                                        <div class="col-sm-4">
                                            <label for="TitleBlog">Title</label>
                                            <input type="text" class="form-control" id="TitleBlog" placeholder="Title" ng-model="newBlogPost.title" >
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-4">
                                        <div class="col">
                                            <label for="comment">Post:</label>
                                            <textarea type="text" class="form-control" rows="10" id="comment" ng-model="newBlogPost.text"></textarea>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-success"  data-whatever="@mdo" ng-click ="addBlogPost(newBlogPost.title,newBlogPost.text)">Submit</button>
                                    </div>
    
                                </form>
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>

        </div>
    </div>


    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Footer -->
    <div class="container-fluid" id="footer">
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="titleFont">Specials</h5>
                    <ul>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="text-center titleFont">Book Now!</h5>
                    <ul>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-right ">
                    <h5 class="titleFont">Contact Us</h5>
                    <ul>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                        <li>
                            blah
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr id="footerRule">
        <h5 class="text-center titleFont">SWE Team 1 Spring 2019 - Software Engineering @ UF: All Rights Reserved.</h5>
    </div>

    <!-- CDN's + Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="js/styling/script.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/blogPostFactory.js"></script>
    <script src="js/controllers/blogPostController.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="js/factories/requestFactory.js"></script>
    <script src="js/controllers/requestController.js"></script>
    
</body>

</html>