<!-- <head>
    <title>MyDashboard | Recommendations</title>
</head> -->

<header ng-include="'navbar.html'"></header>
<br>
<!-- page -->
<div class="container my-5" id="profile">
    <h1 class="titleFont text-center">Admin Settings</h1>
    <hr class="settings-hr">
    <div class="row">

        <!--Side Nav table -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="#!/dashboard" class="list-group-item list-group-item-action active">
                    <i class="far fa-lightbulb"></i> &nbsp;
                    Recommendations
                </a>
                <a href="#!/dashboard/reviews" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-cog"></i> &nbsp;
                    Past Reviews
                </a>
                <a href="#!/dashboard/specials-vendors" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-cog"></i> &nbsp;
                    Vendor List/Specials
                </a>
                <a href="#!/dashboard/settings" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-cog"></i> &nbsp;
                    MyProfile
                </a>
            </div>
        </div>

        <!-- Recomendations request table -->
        <div class="col-md-9" ng-controller="RequestsController">
            <div class="row">
                <nav class="container-fluid">
                    <table class="table table-striped table-hover" id="requestTable">
                        <thead class="thead-dark">
                            <th class="">Client</th>
                            <th class="">Destination</th>
                            <th class="">Budget</th>
                            <th class="">Departing</th>
                            <th>Returning</th>
                            <th>Details</th>
                            <th>Remove</th>
                        </thead>
                        <tbody>
                            <!-- Hardcoded special 1 -->
                            <tr ng-repeat="request in  requests">
                                <td data-toggle="collapse" href="#Recommendation" role="button" aria-expanded="false"
                                    aria-controls="Recommendation">{{request.party[0].name}}</td>
                                <td data-toggle="collapse" href="#Recommendation" role="button" aria-expanded="false"
                                    aria-controls="Recommendation">{{request.location.to}}</td>
                                <td data-toggle="collapse" href="#Recommendation" role="button" aria-expanded="false"
                                    aria-controls="Recommendation">${{request.budget.min}} - ${{request.budget.max}}
                                </td>
                                <td data-toggle="collapse" href="#Recommendation" role="button" aria-expanded="false"
                                    aria-controls="Recommendation">{{request.travelDates.departing | date}}</td>
                                <td data-toggle="collapse" href="#Recommendation" role="button" aria-expanded="false"
                                    aria-controls="Recommendation">{{request.travelDates.returning | date}}</td>
                                <td id="editButton">
                                    <button type="button" id="addButton" class="btn btn-info" data-toggle="modal"
                                        data-target="#RequestInfoModal" data-whatever="@mdo"
                                        ng-click="showDetails($index)">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </td>
                                <td id="removeButton">
                                    <!-- TODO: remove listing if button is clicked -->
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            <!--Requests Info Modal -->
                            <div class="modal fade" id="RequestInfoModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Request</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form>
                                                <div class="container">
                                                    <div class="row py-1">
                                                        <label class="col-4">Client</label>
                                                        <p class="col" name="">{{detailedInfo.party[0].name}}</p>
                                                    </div>
                                                    <div class="row py-1">
                                                        <label class="col-4">Budget:</label>
                                                        <p class="col" name=""> ${{detailedInfo.budget.min}} -
                                                            ${{detailedInfo.budget.max}}</p>
                                                    </div>
                                                    <div class="row py-1">
                                                        <label class="col-4">Dates:</label>
                                                        <p class="col" name="">
                                                            {{detailedInfo.travelDates.departing| date}} -
                                                            {{detailedInfo.travelDates.returning |date}}</p>
                                                    </div>
                                                    <div class="row py-1">
                                                        <label class="col-4">Locations:</label>
                                                        <p class="col-4">Departing from {{detailedInfo.location.from}}
                                                            and going to {{detailedInfo.location.to}}</p>
                                                    </div>
                                                    <div class="row py-1">
                                                        <label class="col-4">All attendees:</label>
                                                        <p class="col" name="" ng-repeat="party in parties">
                                                            {{party.name}} {{party.birthDate |date}}</p>
                                                    </div>


                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger login mr-auto"
                                                data-dismiss="modal" data-toggle="modal" data-target="#loginModal"
                                                ng-click="deleteSpecial(detailedInfo._id)">Delete</button>
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Edit</button>
                                        </div>

                                    </div>
                                </div>
                                <!-- Collapse Recommendations -->

                                <tr class="collapse" id="Recommendation">
                                    <th colspan="4">Recommendation</th>
                                    <th colspan="3">Notes</th>
                                </tr>

                                <tr class="collapse" id="Recommendation">
                                    <td colspan="4">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident.
                                    </td>
                                    <td colspan="3">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident.
                                    </td>
                                </tr>
                                <tr class="collapse" id="Recommendation">
                                    <td colspan="4">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident.
                                    </td>
                                    <td colspan="3">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                        anderson cred nesciunt sapiente ea proident.
                                    </td>
                                </tr>

                                <!-- special 2 -->
                                <tr>
                                    <td>Larry Field</td>
                                    <td>San Fransisco, California</td>
                                    <td>3/9/2019</td>
                                    <td>$999.99</td>
                                    <td>$999.99</td>
                                    <td id="editButton">
                                        <button type="button" class="btn btn-info" id="editButton">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </td>
                                    <td id="removeButton">
                                        <!-- TODO: remove listing if button is clicked -->
                                        <button type="button" class="btn btn-secondary">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- special 3 -->
                                <tr>
                                    <td>Michelle West</td>
                                    <td>Giza, Egypt</td>
                                    <td>3/9/2019</td>
                                    <td>$1299.99</td>
                                    <td>$1299.99</td>
                                    <td id="editButton">
                                        <button type="button" class="btn btn-info" id="editButton">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </td>
                                    <td id="removeButton">
                                        <!-- TODO: remove listing if button is clicked -->
                                        <button type="button" class="btn btn-secondary">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </nav>
            </div>
            <div class="row">
                <!-- you can add other shit here -->
            </div>
        </div>

        <!-- Add recommendation -->
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="card">
                            <div class="card-header bg-dark">
                                <span class="titleofBlog">Request</span>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="price">Price</label>
                                            <input type="text" class="form-control" id="price" placeholder="Price">
                                            <label for="Location">Location</label>
                                            <input type="text" class="form-control" id="Location"
                                                placeholder="Location">
                                            <label for="Hotel">Hotel</label>
                                            <input type="text" class="form-control" id="Hotel" placeholder="Hotel">
                                            <label for="TravelDate">TravelDate</label>
                                            <input type="text" class="form-control" id="TravelDate"
                                                placeholder="TravelDate">
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="Duration">Duration</label>
                                            <input type="text" class="form-control" id="Duration"
                                                placeholder="Duration">
                                            <label for="Cruise">Cruise</label>
                                            <input type="text" class="form-control" id="Cruise" placeholder="Cruise">
                                            <label for="Airline">Airline</label>
                                            <input type="text" class="form-control" id="Airline" placeholder="Airline">
                                        </div>
                                        <div class="col-sm-4">

                                            <!-- Pending Request -->
                                            <div class="container-fluid pt-2" id="pending">
                                                <table class="table table-sm table-striped">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Location</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Mike</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Lauren</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><input type="radio" name="pick"></th>
                                                            <td>Tom</td>
                                                            <td>miami</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <label for="Note">Note:</label>
                                            <textarea class="form-control" rows="7" id="Note"></textarea>
                                        </div>
                                        <div class="mt-5">
                                            <button type="button" class="btn btn-success"
                                                data-whatever="@mdo">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>