<div ng-switch="loggedIn">
    <!-- NO USER NAVBAR -->
    <div ng-switch-when="no">
        <nav id="mainNavbar" class="navbar navbar-expand-md navbar-light fixed-top">
            <a class="navbar-brand title logo" href="#!/" style="color: #9C28FF"><img src="./images/logo.jpg"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-fill w-100">
                    <li class="icon nav-item active">
                        <a class="nav-link " href="#!/specials">Specials<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#!/reviews">Past Reviews<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#aboutUsContainer">About Us<span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto nav-fill">
                    <li class="icon nav-item active mr-1">
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#loginModal">Login</button>
                    </li>
                    <li class="icon nav-item active mr-1">
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#registerModal">Register</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="loginModal" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/examples/actions/confirmation.php" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email" ng-model="email"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password"
                                    ng-model="password" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Sign in"
                                    data-dismiss="modal" ng-click="authenticateUser(email, password)">
                            </div>
                        </form>
                        <p class="hint-text small"><a href="#registerModal" data-toggle="modal"
                                data-dismiss="modal">Need an account?</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="registerModal" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/examples/actions/confirmation.php" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name" required="required"
                                    ng-model="newFirst">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Middle Name" required="required"
                                    ng-model="newMiddle">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" required="required"
                                    ng-model="newLast">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" required="required"
                                    ng-model="newPass">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Retype Password"
                                    required="required" ng-model="newPassVerify">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required="required"
                                    ng-model="newEmail">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Phone Number" required="required"
                                    ng-model="newPhone">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block btn-lg" data-dismiss="modal"
                                    ng-click="addUser(newFirst, newMiddle, newLast, newPass, newPassVerify, newEmail, newPhone)"></input>
                            </div>
                        </form>
                        <p class="hint-text small"><a href="#loginModal" data-toggle="modal"
                                data-dismiss="modal">Already have an account?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADMIN NAVBAR-->
    <div ng-switch-when="admin">
        <nav id="mainNavbar" class="navbar navbar-expand-md navbar-light fixed-top" ng-controller="UsersController"
            data-ng-init="showName()">
            <a class="navbar-brand title" href="#!/" style="color: #9C28FF"><img src="./images/logo.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-fill w-100">
                    <li class="icon nav-item active">
                        <a class="nav-link " href="#!/specials">Specials<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#!/reviews">Past Reviews<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#aboutUsContainer">About Us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#!/dashboard">MyDashboard<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color:black!important;">
                        Welcome, {{ sessionUsername }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/dashboard">MyDashboard</a>
                        <a class="dropdown-item" href="#!/dashboard/settings">MyProfile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-click="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- USER NAVBAR -->
    <div ng-switch-when="yes">
        <nav id="mainNavbar" class="navbar navbar-expand-md navbar-light fixed-top" data-ng-init="showName()">
            <a class="navbar-brand title" href="#!/home" style="color: #9C28FF"><img src="./images/logo.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-fill w-100">
                    <li class="icon nav-item active">
                        <a class="nav-link " href="#!/specials">Specials<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#!/reviews">Past Reviews<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#aboutUsContainer">About Us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="icon nav-item active">
                        <a class="nav-link" href="#!/recommendations">MyRecommendations<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color:black!important;">
                        Welcome, {{ sessionUsername }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/settings">Profile</a>
                        <a class="dropdown-item" href="#!/recommendations">MyRecommendations</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ng-click="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>