<!-- <head>
    <title>My Recommendations</title>
</head> -->

<header ng-include="'navbar.html'"></header>
<br>
<!-- page -->
<div class="container my-5 border rounded" id="profile" ng-controller="RequestsController">
    <h1 class="titleFont text-center pt-2">Request Recommendation</h1>
    <hr class="settings-hr">
    <!-- Request Form -->
    <form>
        <div class="form-row pb-5 pt-3">
            <div class="col-sm-12">
                <label class="text-center">Email</label>
                <input type="text" id="" class="form-control" ng-model="email"
                    placeholder="Please type contact email here...">
            </div>
        </div>
        <div class="form-row pb-5">
            <div class="col-sm-3">
                <label for="">Departing From</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="i.e. Gainesville, FL" ng-model="locationFrom">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="">Traveling To</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="i.e. New York, NY" ng-model="locationTo">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="">Departure Date</label>
                <div class="">
                    <input type="date" class="form-control" ng-model="travelDatesDeparting">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="">Return Date</label>
                <div class="">
                    <input type="date" class="form-control" ng-model="travelDatesReturning">
                </div>
            </div>
        </div>
        <div class="form-row pb-5">
            <div class="col-sm-2">
                <label for="">Need Travel Insurance?</label>
                <input type="checkbox" class="form-control" checked ng-model="wantTravelInsurance">
            </div>
            <div class="col-sm-2">
                <label for="">Traveling on a Cruise?</label>
                <input type="checkbox" class="form-control" checked ng-model="wantCruise">
            </div>
            <div class="col-sm-2">
                <label for="">Budget</label>
                <div class="">
                    <input type="number" class="form-control" placeholder="Minimum" ng-model="budgetMin">
                </div>
            </div>
            <div class="col-sm-2 ">
                <div class="">
                    <label for="">` </label>
                    <input type="number" class="form-control" placeholder="Maximum" ng-model="budgetMax">
                </div>
            </div>
            <div class="col-sm-2">
                <label for="">Number of Adults</label>
                <input type="number" class="form-control" placeholder="# of Adults" ng-model="numAdults">
            </div>
            <div class="col-sm-2">
                <label for="">Number of Children</label>
                <input type="number" class="form-control" placeholder="# of Children" ng-model="numChildren">
            </div>
        </div>
        <div class="form-row pb-3">
            <div class="col-sm-12">
                <label for="">Description of your perfect vacation</label>
                <textarea class="form-control" name="" id="" cols="30" rows="5"
                    placeholder="Where will your adventure begin..." ng-model="text"></textarea>
            </div>
        </div>
        <button type="submit" style="width:100%;" class="btn btn-success"
            ng-click="addRequest(email, budgetMin, budgetMax, locationTo, locationFrom,travelDatesDeparting,travelDatesReturning,numChildren,numAdults,wantTravelInsurance, wantCruise,text)">Submit</button>
    </form>
</div>

<div class="bottom" ng-include="'footer.html'"></div>
