html, body
{
    width: 100%;
    height: 100%;
}

.titleFont
{
    font-family: 'Boogaloo', cursive;
}

.subtitleFont
{
    font-family: 'Boogaloo', cursive;
    font-style: italic;
}

.reviewTab
{
    color: black;
}

.reviewTab:hover
{
    color: white;
}

.navbar.scrolled{
    background: rgba(231, 237, 168, 0.97);
    transition: background 1s;
}

.nav-tabs
{
    border-bottom: 0px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active 
{
    background-color: #f08080!important;
    color: white !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #F08080 #F08080 #f08080 !important;
    background-color: #E95252;
}

.textFont
{
    font-family: 'Laila', serif;
    font-size: 16px;
}

.navbar-brand {
    font-size: 1.5rem!important;
}

.navbar {
    font-size: 1.25rem;
    background-color: rgb(239, 242, 203);
    font-family: 'Boogaloo', cursive;
}

.btn-success:hover {
    color: #fff;
    background-color: #E95252 !important;
    border-color: #E95252 !important;
}

.btn-success {
    color: #fff;
    background-color: #f08080 !important;
    border-color: lightcoral !important;
}

.specialsCarousel
{
    padding-top: 4rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 26.8%;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next
{
    filter: invert(100%);
}

.recommendations
{
    height: 76%;
    background-color: #D3FFFF;
}

#ourStory
{
    height: 94%;
    background-color: white;
}

#storyRule
{
    width: 32.5%;
}

#footer
{
    background-color: #D3FFFF;
    height:30%;
}