html, body
{
    font-family: 'Shadows Into Light', cursive !important;
    width: 100%;
    height: 100%;
}

.navbar-brand {
    font-size: 1.5rem!important;
}

.navbar {
    background-color: ivory!important;
    font-size: 1.25rem;
}

.btn-success:hover {
    color: #fff;
    background-color: #E95252 !important;
    border-color: #E95252 !important;
}
.btn-success {
    color: #fff;
    background-color: lightcoral !important;
    border-color: lightcoral !important;
}

.specialsCarousel
{
    height: 20%;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next
{
    filter: invert(100%);
}
.recommendations
{
    background-color: mistyrose;
    height: 75%;
}