.specialsCarousel
{
    padding-top: 3.95rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 26.94%;
}

.specialsImages
{
    opacity: 0.25;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next
{
    filter: invert(100%);
}

.recommendations
{
    height: 76%;
    background-color: #D3FFFF;
}

#aboutUsContainer
{
    height: 84%;
    background-color: white;
}

#cardContainer
{
    height: 100%;
}

.aboutUsRow
{
    height: 28.3%;
    padding-bottom: 1rem;
}

.aboutUsCard
{
    padding: 0rem!important;
    text-align: center;
    border: none !important;
}

.icon
{
    color: #F08080;
}

.aboutUsCard:hover
{
    transform: scale(1.25);
}

.icon:hover
{
    color: #E95252;
}

#storyRule
{
    width: 32.5%;
}

#bufferSection
{
    height: 12%;
}