#bookNow
{
    height:25%;
}

#deals
{
    height: 75%;
    background-color:white;
}

.bookNowButton
{
    width: 100%;
}

#specialsTable{
    height: 10%!important;
}

#removeButton{
    width: 40px;
}
  
#editButton{
    width: 40px;
}

.image
{
    width: 100%;
}
