#bookNow
{
    height:25%;
}

#deals
{
    height: 75%;
    background-color:white;
    overflow: hidden;
    overflow-y: scroll;
}

.bookNowButton
{
    width: 100%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

#specialsTable{
    height: 10%!important;
}

#removeButton{
    width: 40px;
}
  
#editButton{
    width: 40px;
}

.image
{
    width: 100%;
}
