html, body
{
    width: 100%;
    height: 100%;
}

.navbar .navbar-brand img {
    height: 40px;
} 

.btn:focus, .btn:active {
    outline: #9C28FF !important;
    box-shadow: none !important;
}

.titleFont
{
    font-family: 'Boogaloo', cursive;
    color: black;
}

.subtitleFont
{
    font-family: 'Boogaloo', cursive;
    font-style: italic;
}

.reviewTab
{
    color: black;
}

.reviewTab:hover
{
    color: white!important;
}

.textFont
{
    font-family: 'Laila', serif;
    font-size: 16px;
    color: black;
}

.navbar {
    font-size: 1.25rem;
    /* background-color: #807869; */
     background-color: white;
  /* not sure which color you guys intended, kept both in here just in case - Daniel Q */

    font-family: 'Boogaloo', cursive;
}

.navbar.scrolled{
    background: rgba(242,242,242,0.99);
    transition: background 1s;
}

.nav-link:hover
{
    color: #9C28FF !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #C076FF !important;
    border-color: #C076FF !important;
}

.btn-success {
    color: #fff;
    background-color: #9C28FF !important;
    border-color: #C076FF !important;
}

.btn-success:focus {
    border-color: #C076FF !important;
    outline: 0 !important;
}

.btn-success:active {
    border-color: #C076FF !important;
    border-width: 0px;
}


#footer
{
    position: absolute;
    background-color: rgb(242, 242, 242);
    /* height: 60%; */
    width: 100%;
}

#footerRule
{
    width: 58.7%;
}

.modal-login {
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login .form-group {
    margin-bottom: 20px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 30px; 
    font-size: 15px;
    transition: all 0.5s;
}
.modal-login .form-control {
    font-size: 13px;
}
.modal-login .form-control:focus {
    border-color: #9C28FF;
}
.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .btn {
    background: #9C28FF;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #9C28FF;
}
.modal-login .hint-text a {
    color: #999;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.pic{
    height: 10%;
    width: 10%;
    border-radius: 50%;
}