html, body
{
    width: 100%;
    height: 100%;
}

.titleFont
{
    font-family: 'Boogaloo', cursive;
    color: black;
}

.subtitleFont
{
    font-family: 'Boogaloo', cursive;
    font-style: italic;
}

.reviewTab
{
    color: black;
}

.reviewTab:hover
{
    color: white!important;
}

.textFont
{
    font-family: 'Laila', serif;
    font-size: 16px;
    color: black;
}

.navbar-brand {
    font-size: 1.5rem!important;
}

.navbar {
    font-size: 1.25rem;
    /* background-color: #807869; */
     background-color: white;
  /* not sure which color you guys intended, kept both in here just in case - Daniel Q */

    font-family: 'Boogaloo', cursive;
}

.navbar.scrolled{
    background: rgba(242,242,242,0.99);
    transition: background 1s;
}

.nav-link:hover
{
    color: #9C28FF !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #C076FF !important;
    border-color: #C076FF !important;
}

.btn-success {
    color: #fff;
    background-color: #9C28FF !important;
    border-color: #C076FF !important;
}

#footer
{
    background-color: rgb(242, 242, 242);
    height:45%;
    width: 100%;
}

#footerRule
{
    width: 58.7%;
}