#profile
{
    height: 60%;
    margin-top: 5%;
}

#specialsTable{
    height: 10%!important;
}

#removeButton{
    width: 40px;
}
  
#editButton{
    width: 40px;
}

#delete
{
    width: 100%;
}

.list-group-item.active {
    background-color: #9C28FF !important;
    border-color: #9C28FF !important;
}

#footer
{
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 25%;
    bottom:0;
    position: absolute;
}